.header {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    color: white;
    background: #00000080;
}

.header_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
}

.header_panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    color: white;
    height: inherit;
}

#account_panel {
    justify-content: flex-end;
}

#settings_icon {
    width: 1.5vw;
    filter: invert(1);

}

#close_icon {
    width: 1.3vw;
    filter: invert(1);
}

#close_button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    width: 4vw;
    color: white;
}

#settings_button {
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    width: 10vw;
    color: white;
}
#settings_button:hover {
    text-decoration: underline;
}
#settings_button:hover #settings_icon {
    animation: spin ease-in-out;
    animation-duration: 4000ms;
    animation-duration: infinite;
}

#nav_panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav_button {
    text-align: center;
    font-size: 1rem;
    width: auto;
    padding: 2vw;
    background: none;
    border: none;
    color: white;
}

.nav_button:hover {
    text-decoration: underline;
}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}