.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
}

.header_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
}

.header_panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

#account_panel {
    justify-content: flex-end;
}

#settings_icon {
    width: 1.5vw;
}

#close_icon {
    width: 1.3vw;
}

#close_button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    width: 4vw;
}

#settings_button {
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    width: 10vw;
}
#settings_button:hover {
    text-decoration: underline;
}
#settings_button:hover #settings_icon {
    animation: spin ease-in-out;
    animation-duration: 4000ms;
    animation-duration: infinite;
}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}