.header {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 12vh;
    color: white;
    background: #00000080;
    backdrop-filter: blur(4px);
    z-index: 10;
}

.header_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 8vh;
}

#page_title {
    font-size: 1.5rem;
    height: inherit;
    display: flex;
    align-items: center;
}

.header_panel {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: inherit;
}

#nav_panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.nav_button {
    text-align: center;
    font-size: .8rem;
    width: auto;
    height: 2.5vh;
    padding: 0 2vw;
    background: none;
    border: none;
    color: white;
    text-decoration: none;
}