#home {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#homepage_display {
    width: 85vw;
    height: 75vh;
    margin: 5vh 7.5vw;
    display: flex;
    justify-content: space-between;
}

.homepage_block {
    background: #ffffff27;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#teams_panel {
    height: 75vh;
    width: 30vw;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

#charts_container {
    height: 75vh;
    width: 52.5vw;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

#summary_panel {
    height: 7.5vh;
    width: 47.5vw;
    padding: 2.5vh 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

#charts_panel {
    height: 55vh;
    width: 47.5vw;
    padding: 2.5vh 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

#liked_panel {
    height: 37.5vh;
    width: 25vw;
    padding: 2.5vh 2.5vw;
    overflow: hidden;
    overflow-y: scroll;
}

#hated_panel {
    height: 25vh;
    width: 25vw;
    padding: 2.5vh 2.5vw;
    overflow: hidden;
    overflow-y: scroll;
}

.teams_panel_header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.dash_team_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.chart_box {
    display: flex;
    height: 30vh;
    width: 30vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#team_chart_box {
    justify-self: flex-start
}

#results_chart_box {
    justify-self: flex-end
}